@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body
{   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* 1/100e de la hauteur du viewport. */
    flex-direction: column;
    background: black;
    background-image: url("../assets/menu/backgroundMenu.png");
}

h1
{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 2px;
    border-radius: 5px;
}

h2
{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
}
.case:hover
{
    background: #003E75;
}
#main
{
    display: flex;
    margin: 5vh 0;
    align-items: center;
    flex-direction: column;
}
#submain
{
    display: flex;
    margin: 10px 0;
    align-items: center;
    flex-direction: row;
}
#menu
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.selector
{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 1px;
    overflow: hidden;
}

span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate
{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%
    {
        width: 1000px;
        height: 1000px;
        opacity: 0.5;
    }
}

/* MENU LISTE ANIMATION */
ul
{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 6vh 0;
}
ul li
{
    list-style: none;
}
ul li:before
{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;
}
ul li:hover:before
{
    opacity: 0.05;
    letter-spacing: 0px;
}
ul li .menu
{
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    background: #2196f3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}
ul:hover li .menu
{
    opacity: 0;
}
ul li .menu:hover
{
    transform: scale(1.4);
    z-index: 1000;
    background: #ff3f81;
    opacity: 1;
}
ul li .menu:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    transform: skewX(35deg);
    transition: 0s;
}
ul li .menu:hover:before
{
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
    
}



.title
{   
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #fff;
}
.regleText{
    position: relative;
    float: left;
    color: white;
}
canvas {
	position: absolute;
	left: 0;
	top: 0;
    visibility: hidden;
}